In [1]:
from sklearn import svm , datasets
iris = datasets.load_iris()
from sklearn.model_selection import GridSearchCV

In [2]:
import pandas as pd 
df = pd.DataFrame(iris.data, columns = iris.feature_names)
print(df.shape)
df.head()

(150, 4)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
df['flower'] = iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [7]:
df['flower']= df['flower'].apply(lambda x : iris.target_names[x])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [12]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(iris.data , iris.target , test_size=0.25 , stratify= iris.target)

In [13]:
model = svm.SVC(kernel='rbf' , C = 30 , gamma='auto')
model.fit(x_train ,y_train)
model.score(x_test , y_test)

0.9210526315789473

In [14]:
from sklearn.model_selection import cross_val_score
cross_val_score(svm.SVC(kernel='rbf' , C = 30 , gamma='auto'), iris.data , iris.target , cv = 5)

array([0.96666667, 1.        , 0.9       , 0.93333333, 1.        ])

In [16]:
cross_val_score(svm.SVC(kernel='rbf' , C =40  , gamma='auto'), iris.data , iris.target , cv = 5)

array([1.        , 0.96666667, 0.9       , 0.93333333, 1.        ])

In [17]:
from sklearn.model_selection import GridSearchCV
clf = GridSearchCV(svm.SVC( gamma='auto'), {
    'C':[1,20,30],
    'kernel': ['rbf' , 'linear' , 'poly']
} , cv = 5 , return_train_score= False)

clf.fit(iris.data , iris.target)
clf.cv_results_

{'mean_fit_time': array([0.00120778, 0.00040441, 0.0015945 , 0.00079389, 0.00059867,
        0.00557709, 0.00060515, 0.00060692, 0.00618672]),
 'std_fit_time': array([0.00039441, 0.00049535, 0.00078792, 0.00039731, 0.00048939,
        0.0052309 , 0.0004943 , 0.00049585, 0.004906  ]),
 'mean_score_time': array([0.00078907, 0.00039878, 0.00039287, 0.00019884, 0.00019217,
        0.00059142, 0.00039821, 0.0001986 , 0.00019078]),
 'std_score_time': array([0.00039476, 0.00048892, 0.00048126, 0.00039768, 0.00038433,
        0.00048303, 0.0004877 , 0.00039721, 0.00038157]),
 'param_C': masked_array(data=[1, 1, 1, 20, 20, 20, 30, 30, 30],
              mask=[False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'poly', 'rbf', 'linear', 'poly',
                    'rbf', 'linear', 'poly'],
              mask=[False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 1, 'kernel': 'poly'},
  {'C': 20, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'poly'},
  {'C': 30, 'kernel': 'rbf'},
  {'C': 30, 'kernel': 'linear'},
  {'C': 30, 'kernel': 'poly'}],
 'split0_test_score': array([0.96666667, 0.96666667, 1.        , 0.96666667, 1.        ,
        0.96666667, 0.96666667, 1.        , 0.96666667]),
 'split1_test_score': array([1.        , 1.        , 1.        , 1.        , 1.        ,
        0.96666667, 1.        , 1.        , 0.96666667]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.9       , 0.9       , 0.9       ,
        0.9       , 0.9       , 0.9       , 0.9       ]),
 'split3_test_score': array([0.96666667, 0.96666667, 0.93333333, 0.96666667, 0.93333333,
        0.93333333, 0.93333333, 0.9       , 0.93333333]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.98      , 0.98      , 0.96666667, 0.96666667, 0.96666667,
        0.95333333, 0.96      , 0.96      , 0.95333333]),
 'std_test_score': array([0.01632993, 0.01632993, 0.0421637 , 0.03651484, 0.0421637 ,
        0.03399346, 0.03887301, 0.04898979, 0.03399346]),
 'rank_test_score': array([1, 1, 4, 3, 4, 8, 6, 6, 8])}

In [18]:
result = pd.DataFrame(clf.cv_results_)
result

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.001208,0.000394,0.000789,0.000395,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,1.000000,0.966667,0.966667,1.0,0.980000,0.016330,1
1,0.000404,0.000495,0.000399,0.000489,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.000000,0.966667,0.966667,1.0,0.980000,0.016330,1
2,0.001594,0.000788,0.000393,0.000481,1,poly,"{'C': 1, 'kernel': 'poly'}",1.000000,1.000000,0.900000,0.933333,1.0,0.966667,0.042164,4
3,0.000794,0.000397,0.000199,0.000398,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.966667,1.000000,0.900000,0.966667,1.0,0.966667,0.036515,3
4,0.000599,0.000489,0.000192,0.000384,20,linear,"{'C': 20, 'kernel': 'linear'}",1.000000,1.000000,0.900000,0.933333,1.0,0.966667,0.042164,4
5,0.005577,0.005231,0.000591,0.000483,20,poly,"{'C': 20, 'kernel': 'poly'}",0.966667,0.966667,0.900000,0.933333,1.0,0.953333,0.033993,8
6,0.000605,0.000494,0.000398,0.000488,30,rbf,"{'C': 30, 'kernel': 'rbf'}",0.966667,1.000000,0.900000,0.933333,1.0,0.960000,0.038873,6
7,0.000607,0.000496,0.000199,0.000397,30,linear,"{'C': 30, 'kernel': 'linear'}",1.000000,1.000000,0.900000,0.900000,1.0,0.960000,0.048990,6
8,0.006187,0.004906,0.000191,0.000382,30,poly,"{'C': 30, 'kernel': 'poly'}",0.966667,0.966667,0.900000,0.933333,1.0,0.953333,0.033993,8

In [19]:
result = result[['params', 'mean_test_score']]
result

                          params  mean_test_score
0      {'C': 1, 'kernel': 'rbf'}         0.980000
1   {'C': 1, 'kernel': 'linear'}         0.980000
2     {'C': 1, 'kernel': 'poly'}         0.966667
3     {'C': 20, 'kernel': 'rbf'}         0.966667
4  {'C': 20, 'kernel': 'linear'}         0.966667
5    {'C': 20, 'kernel': 'poly'}         0.953333
6     {'C': 30, 'kernel': 'rbf'}         0.960000
7  {'C': 30, 'kernel': 'linear'}         0.960000
8    {'C': 30, 'kernel': 'poly'}         0.953333

In [20]:
clf.best_params_

{'C': 1, 'kernel': 'rbf'}

In [21]:
clf.best_score_

0.9800000000000001

In [ ]:
clf.be

In [39]:
from sklearn.model_selection import RandomizedSearchCV
rs = RandomizedSearchCV(svm.SVC( gamma='auto'), {
    'C':[1,20,30],
    'kernel': ['rbf' , 'linear' ]
} , cv = 5 , return_train_score= False , n_iter= 2)

rs.fit(iris.data , iris.target)
result = pd.DataFrame(rs.cv_results_)[['params', 'mean_test_score']]
result

                          params  mean_test_score
0  {'kernel': 'linear', 'C': 30}             0.96
1     {'kernel': 'rbf', 'C': 30}             0.96

In [40]:
rs.best_params_

{'kernel': 'linear', 'C': 30}

# Model_Selection

In [3]:
from sklearn.linear_model import LogisticRegression 
from sklearn.ensemble import RandomForestClassifier

In [10]:
model_params = {
    'svm':{
        'model':svm.SVC(gamma='auto'),
        'params':{
            'C':[1,10,20],
            'kernel': ['rbf' , 'linear']
        }
    },
    'random_forest':{
        'model':RandomForestClassifier(),
        'params':{
            'n_estimators' : [1,5,10]
        }
    },
    'logistic_regression':{
        'model': LogisticRegression(solver='liblinear' , multi_class='auto'),
        'params':{
            'C':[1,5,10]
        }
    }
}

In [6]:
score = []
for model_name , mp in model_params.items():
    print(model_name , mp)

svm {'model': SVC(gamma='auto'), 'params': {'C': [1, 10, 20], 'kernel': ['rbf', 'linear']}}
random_forest {'model': RandomForestClassifier(), 'params': {'n_estimator': [1, 5, 10]}}
logistic_regression {'model': LogisticRegression(solver='liblinear'), 'params': {'C': [1, 5, 10]}}

In [11]:
score = []
for model_name , mp in model_params.items():
    clf = GridSearchCV(mp['model'], mp['params'] , cv = 5 , return_train_score=False )
    clf.fit(iris.data, iris.target  )
    score.append({
        'model':model_name ,
        'best_score': clf.best_score_ ,
        'best_params':clf.best_params_
    })
df = pd.DataFrame(score , columns = ['model' , 'best_score' , 'best_params'])
df

                 model  best_score                best_params
0                  svm    0.980000  {'C': 1, 'kernel': 'rbf'}
1        random_forest    0.953333        {'n_estimators': 5}
2  logistic_regression    0.966667                   {'C': 5}